h6 {
     font-size: 12px; margin: 0; font-weight: normal; 
    }

h5 { 
    font-size: 16px; margin: 0; font-weight: normal; 
}

h4 { 
    font-size: 20px; margin: 0; font-weight: normal; 
}

h3 { 
    font-size: 28px; margin: 0;
}

h2 { 
    font-size: 34px; margin: 0;
 }

h1 {
     font-size: 46px; margin: 0; 
    }


p  { font-size: 16px; }
button { font-size: 20px; }

body {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
                                rgba(0, 0, 0, 0.5)), 
                                 url("assets/fon.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.top-header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.logo{
    font-family: Belleza;
}


.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-family: 'DMSans', sans-serif;
    font-weight: 100; 
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 20px;
    position: relative;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease, right 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
    left: 0;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

.search img{
    width: 17px;
}

.title{
    font-family: 'DMSans', sans-serif;
    font-weight: 500; 
    max-width: 600px;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.watch-video{
    display: flex;
    margin-top: 170px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 100;
}

.watch-block{
    display: flex;
    align-items: center;
    gap: 15px;
    max-height: 100px;
}

#section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FFF5EB;
    background: linear-gradient(to bottom, #FFF5EB, white);
    padding: 50px 15px 50px 15px;  
}

.dates{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dates-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.dates-item div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    opacity: 0.6;
}

.dates-item div h5{
    opacity: 0.95;
}

.book{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.book button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #34A0A4;
    border: none;
    border-radius: 35px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.book button:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    background-color: #34A0A4;
    color: white;
}


.book button img{
    width: 20px;
    height: 20px;
}

#section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 15px 50px 15px;  
}

#section2 h1{
    margin-bottom: 20px;
    text-align: center;
}

.tour{
    margin: 30px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tour-reverse{
    flex-direction: row-reverse;
}

.tour-img{
    max-width: 500px;
}

.tour-img img{
    width: 100%;
    border-radius: 35px;
}


.tour-desc{
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 300px;
}

.tour-desc h5{
    color: #1A759F;
    margin-bottom: 10px;
}

.tour-desc p{
    color: #525252;
}

.tour-desc span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1A759F;
    gap: 5px;
}

.tour-desc button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    padding: 10px;
    margin: 20px;
    background-color: #34A0A4;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.tour-desc button:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    background-color: #34A0A4;
    color: white;
}

#section3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.section3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    text-align: center;
}

#section3 button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 15px 20px;
    margin: 20px; 
    background-color: white;
    border: none;
    border-radius: 35px;
    color: #34A0A4;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 10px 14px rgba(1, 1, 1, 0.4);
    text-shadow: 1px 1px 2px rgba(52, 160, 164, 0.2); 
    transition: box-shadow 0.3s ease;
    z-index: 1;
}

#section3 button:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    background-color: #34A0A4;
    color: white;
}

#section3 h2{
    color: white;
    margin-bottom: 20px;
    z-index: 1;
}

#section3 video{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.3);
    z-index: 0;
}

#section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 15px 50px 15px;  
}

.sec4h1{
    margin: 50px 15px 15px 15px;
}

.sec4h4{
    margin: 0px 15px 40px 15px;
    opacity: 0.6;
}

.rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.room{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.room:hover {
    outline: 3px solid #1A759F;
    border-radius: 25px;
    outline-offset: 5px;
    transition: 0.2s;
}

.room:active {
    outline: 4px solid #6b8e9e;
    border-radius: 25px;
    outline-offset: 4px;
}

.room h6{
    opacity: 0.6;
}

.room h3{
    color: #1A759F;
    margin-top: 15px;
    font-size: 25px;
}

.room-img{
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 15px;
}

.room-img img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 15px;
}

#contact h2 {
    color: #1A759F;
    margin-bottom: 20px;
    text-align: center;
}

#contact form{
    border: #1A759F 2px solid;
    border-radius: 25px;
    padding: 30px;
}

#contact .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}

#contact label {
    margin-bottom: 5px;
    color: #525252;
}

#contact input,
#contact textarea {
    padding: 10px;
    border: 1px solid #1A759F;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#contact button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    margin-top: 20px;
    background-color: #34A0A4;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#contact button:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    background-color: #34A0A4;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #FFF5EB, #fffbf7);
    padding: 50px 15px 50px 15px;
    color: #525252; 
}

.footer-container{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.footer-left{
    display: flex;
    flex-direction: flex-start;
    flex-direction: column;
}

.footer-logo{
    font-family: Belleza;
    font-size: 30px;
}

.footer-text{
    max-width: 400px;
}

footer table{
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-bottom: 40px;
}

.footer-bottom{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.socials{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 0px 15px 0px;
}

#burger{display:none;}
#burger-nav{display:none;}
.hamnav label{display: none;}

.hamnav label{
    right: 45px;
    top: 45px;
    position: fixed;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    color: black;
}

.hamnav label img{
    width: 100%;
}

.hamnav input:checked ~ #burger-nav { 
    display: flex;
    right: 0;
}


#burger-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    overflow-x: hidden; 
}

#burger-nav a {
    margin: 20px 0;
    font-size: 20px;
    text-decoration: none;
    color:#FFF5EB;
}




@media(max-width: 900px){
    .menu{
        display: none;
    }

    .search{
        display: none;
    }

    #burger-nav{display:flex;}
    .hamnav label{display: flex;}

    .hamnav input:checked ~ #burger-nav { 
        display: flex;
        right: 0;
    }
}

@media(max-width: 500px){
    .title h1{
        font-size: 34px;
    }

    #section2 h1{
        font-size: 28px;
    }

    #section3 h2{
        font-size: 28px;
    }

    #section3 button{
        font-size: 18px;
    }

    .sec4h1{
        font-size: 28px;
    }

    .sec4h1, .sec4h4{
        text-align: center;
    }
}

@font-face {
    font-family: 'DMSans';
    src: url('assets/DM_Sans/assets/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100, 400, 500, 900;
}

@font-face {
    font-family: 'Belleza';
    src: url('assets/Belleza/Belleza-Regular.ttf');
}
